footer{
    margin-top: 10vmin;
    background: #333;
    padding: 0 5%;
    min-height: 35vmin;
    font-family: Crimson Text;
    color:#aaa;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.info-content{
    height: 25vmin;
    text-align: right;
    justify-content: flex-end;
}

.footerInfo{
    margin-left: 10vmin;
    padding-top: 10vmin;
}