.logo{
    display: block;
    margin: auto;
    padding: 50px;
    padding-bottom: 0;
}

.navbar-admin {
    width: 70%;
}

.navbar-admin a{
    display: inline-block;
    padding: 5%;
}

.top-admin-menu{
    display: flex;
    justify-content: space-between;
    background-color: #aaa;
    margin-bottom: 2%;
}