#exhibitions{
    height: 100vh;
    position: relative;
}

.exh{
    display: flex;
    padding-left: 0;
}

.exh .date{
    display:inline-block;
    width: 15%;
}


.exhShape{
    position: absolute;
    width: 30%;
    height: 100%;
    clip-path: polygon(0% 20%, 0% 40%, 100% 100%);
    background: black;
}

.exhibitions-container {
    min-height: 100vh;
}

.tabs-nav {
    margin-top: -3%;
    margin-bottom: 2%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.tabs-nav span {
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    padding: 1%;
    margin: 1%;
    flex-grow: 1;
}

.selected, .tabs-nav span:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.exhShapeRight{
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%);
    background: black;
    z-index: 10;
}

@media(max-width: 992px){
    .tabs-nav {
        width: 80%;
    }
}