#contact{
    position: relative;
}


.contactData{
    position: absolute;
    top: 60%;
    left: 3%;
    font-size: 3vmin;
}

.form-row{
    margin-top: 3%;
}

button.btn.btn-dark{
    margin-top: 3%;
    font-family: Crimson Text;
    font-size: 3vmin;

}

.contact-form{
    margin-top: 15vh;
    margin-left:10vmin;
}

@media(max-width: 992px){

    .contact-form{
        margin-top: 7vh;
        margin-left: 0;
    }

    .form-row{
        margin-top: 10%;
        margin-bottom: 5%;
    }

}