#exhibitions{
    height: 100vh;
    position: relative;
}

.exh{
    display: flex;
    padding-left: 0;
}

.exh .date{
    display:inline-block;
    width: 15%;
}


.exhShape{
position: absolute;
width: 30%;
height: 100%;
clip-path: polygon(0% 20%, 0% 40%, 100% 100%);
background: black;
}



.exhShapeRight{
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%);
    background: black;
    z-index: 10;
}