footer{
    margin-top: 10vmin;
    background: #c0c0c0;
    min-height: 35vmin;
    font-family: Crimson Text;
    color: grey;
}


.footerInfo{
    margin-left: 10vmin;
    padding-top: 10vmin;
}